.catalog {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 130px;
  }
}
