.contacts {
  margin-bottom: 37px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
}

.contacts__email-wrapper {
  font-size: 15px;
  color: #444444;
  margin-top: 26px;
}

.contacts__email {
  font-size: 15px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid $azure-color-dark;
  margin-left: 26px;
  padding-bottom: 4px;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  color: #444444;
  margin-top: 30px;

  address {
    font-style: normal;
    margin-left: 30px;
    width: 170px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    margin-bottom: 56px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    width: 668px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 3px;
      top: -30%;
    }
  }

  .contacts__email-wrapper {
    font-size: 17px;
    margin-top: 14px;
  }

  .contacts__email {
    font-size: 17px;
    margin-left: 19px;
  }

  .contacts__adress-wrapper {
    font-size: 17px;
    margin-top: 14px;
    margin-right: 36px;

    address {
      width: auto;
      margin-left: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: column;
    padding-left: 170px;
    padding-top: 28px;
    margin-bottom: 50px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::after {
      left: -107px;
      top: -18%;
    }
  }

  .contacts__email-wrapper {
    padding-left: 3px;
    margin-top: 3px;
  }

  .contacts__adress-wrapper {
    padding-left: 3px;
    padding-right: 500px;
    margin-top: 30px;
  }
}
