.container {
  width: $mobile-width-only;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
} /*удалить в следующем комите этот комментарий*/
