.features__title {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 34px;
}

.features__list {
  position: relative;
  list-style: none;
  line-height: 20px;
  font-weight: bold;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.features__list-item {
  margin-top: 86px;
}
