.feedback {
  margin-top: 87px;
  margin-bottom: 39px;
}

.feedback__btn {
  margin: 0 auto;
  width: 259px;
}

.feedback__map {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 457px;
  border: none;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 320px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-top: 36px;
    margin-bottom: 59px;
  }

  .feedback__map {
    margin-bottom: 46px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .feedback__btn {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 108px;
    margin-top: 160px;
  }

  .feedback__map {
    width: 526px;
    height: 457px;
    position: absolute;
    top: 0;
    right: 35px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .feedback__btn {
    margin-left: 225px;
  }
}
