.feedback {
  margin-top: 44px;
  margin-bottom: 57px;
}

.feedback__btn {
  margin: 0 auto;
  width: 259px;
}

.feedback__map {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 457px;
  border: none;
}

@media (min-width: $desktop-width) {
  .feedback {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 105px;
    margin-top: 150px;
  }

  .feedback__map {
    width: 525px;
    height: 457px;
    position: absolute;
    right: 50px;
  }

  .feedback__btn {
    margin-left: 225px;
  }
}
