.good-description {
  border: 1px solid #ededed;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 27px;
}

@media (min-width: $tablet-width) {
  .good-description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 28px;
    width: 335px;
  }
}

@media (min-width: $desktop-width) {
  .good-description {
    padding-left: 24px;
    padding-right: 10px;
    width: 100%;
  }
}
