.good {
  margin-bottom: 30px;
}

.good__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.good__image {
  display: block;
}

.good__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.good__features {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 19px;
  margin-top: 4px;
}

.good__price-wrapper {
  position: relative;
  padding-top: 21px;
  border-top: 1px solid #ededed;
}

.good__basket-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 19px;
  top: 22px;
  right: 0;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}

.good__icon-cart {
  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.good__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .good {
    width: 665px;
    display: flex;
    margin-bottom: 55px;

    a {
      display: block;
    }
  }

  .good__image {
    width: 334px;
    height: 334px;
  }

  .good__name {
    font-size: 20px;
    padding-right: 35px;
  }

  .good__features {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: auto;
  }

  .good__price-wrapper {
    padding-top: 22px;
  }

  .good__price {
    font-size: 17px;
    padding-left: 5px;
  }

  .good__basket-icon {
    top: 19px;
    right: 2px;
  }
}

@media (min-width: $desktop-width) {
  .goods-list {
    justify-content: space-between;
  }

  .good {
    width: 314px;
    flex-direction: column;
  }

  .good__features {
    margin-bottom: auto;
  }

  .good__price-wrapper {
    padding-top: 22px;
    margin-top: 15px;
  }

  .good__image {
    width: 316px;
    height: 462px;
  }

  .good__name {
    padding-right: 40px;
  }

  .good__price {
    padding-left: 0;
  }

  .good__basket-icon {
    right: 22px;
  }
}
