.good-description {
  border: 1px solid #ededed;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 27px;
  padding-right: 27px;
}

@media (min-width: $tablet-width) {
  .good-description {
    flex-grow: 1;
  }
}
