.name-list {
  @include list-reset;
  margin-top: 30px;
}

.name-list__item {
  margin-top: 23px;

  input {
    display: block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.7);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000000;
  }
}

.name-list__label {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .name-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 100px;

    input {
      padding-top: 0;
      padding-bottom: 11px;
      padding-left: 17px;
      font-size: 19px;
    }
  }

  .name-list__item {
    display: flex;
    margin-bottom: 41px;
    margin-top: 0;
    width: 500px;
  }

  .name-list__label {
    margin-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .name-list {
    margin-left: 52px;
  }

  .name-list__item {
    width: 698px;
  }
}
