.order {
  margin-bottom: 55px;
}

.order__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $azure-color-light;
  margin-left: -3px;
  width: 64px;

  &::after {
    position: absolute;
    content: "";
    width: 200px;
    left: 100%;
    bottom: 50%;
    border-bottom: 1px solid $azure-color-light;
  }
}

.order__box {
  border: none;
  padding: 0;
  margin: 0;

  &--types {
    margin-top: 24px;
  }

  &--colors {
    margin-top: 18px;
  }

  &--phone {
    padding-top: 32px;
  }

  &--email {
    padding-top: 32px;

    legend {
      width: 84px;
    }
  }

  &--info {
    padding-top: 32px;
  }
}

.order__box label {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.order__contacts-input {
  display: block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  background-repeat: no-repeat;
  background-position-y: 18px;

  &--phone {
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 227px;
  }

  &--email {
    background-image: url("../../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position-x: 224px;
  }

  &--info {
    display: block;
    position: relative;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
    width: 100%;
    margin-top: 25px;
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 75px;
    padding-bottom: 16px;
    border: 2px solid #444444;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active,
  &:focus {
    outline: none;
    color: rgba(0, 0, 0, 1);
  }
}

.order__legend__name-input {
  &:hover {
    border-color: #62d1ba;
  }

  &:active,
  &:focus {
    outline: none;
    color: rgba(0, 0, 0, 1);
  }
}

.order__note {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__box__sent-btn {
  width: 259px;
}

@media (min-width: $tablet-width) {
  .order {
    margin-bottom: 0;
  }

  .order__legend {
    &::after {
      border: none;
    }
  }

  .order__wrapper {
    display: flex;

    &--phone {
      justify-content: space-between;
    }

    &--email {
      justify-content: space-between;
    }

    &--info {
      justify-content: space-between;
    }

    &--note {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 51px;
    }
  }

  .order__wrapper--info .order__legend {
    padding-top: 15px;
  }

  .order__box {
    border: none;

    label {
      font-size: 19px;
      line-height: 18px;
    }

    &--types {
      margin-top: 75px;
    }

    &--colors {
      margin-top: 9px;
      padding-top: 62px;
      padding-bottom: 17px;
      background-color: #f1f1f1;
    }

    &--name {
      position: relative;
      padding-bottom: 8px;
      padding-top: 66px;
    }

    &--phone {
      position: relative;
      background-color: #f1f1f1;
      padding-top: 68px;
    }

    &--email {
      position: relative;
      padding-top: 37px;
      padding-bottom: 52px;
      background-color: #f1f1f1;
    }

    &--info {
      position: relative;
      padding-top: 49px;
      padding-bottom: 53px;
    }
  }

  .order__contacts-input {
    font-size: 19px;
    background-color: #f1f1f1;
    width: 501px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-top: 0;

    &--phone {
      background-position-y: top;
      background-position-x: 450px;
    }

    &--email {
      background-position-y: top;
      background-position-x: 450px;
    }

    &--info {
      margin-top: 0;
      padding-top: 13px;
      padding-bottom: 17px;
      border: 2px solid #000000;
      background-color: #ffffff;
    }
  }

  .order__note {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    order: 1;
  }

  .order__box__sent-btn {
    width: 229px;
  }
}

@media (min-width: $desktop-width) {
  .order__box {
    &--types {
      margin-top: 73px;
    }

    &--name {
      margin-bottom: 9px;
      padding-bottom: 0;
    }

    &--phone {
      padding-top: 65px;
    }

    &--email {
      padding-top: 39px;
      padding-bottom: 50px;
    }

    &--info {
      padding-bottom: 50px;
    }
  }

  .order__wrapper {
    width: 1022px;
    justify-content: flex-start;

    &--colors {
      align-items: baseline;
    }

    &--phone,
    &--email,
    &--info {
      justify-content: space-between;
      align-items: baseline;
    }

    &--note {
      justify-content: space-between;
      width: 700px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 51px;
    }
  }

  .order__contacts-input {
    width: 700px;
    margin-left: 0;
    background-position-y: top;
    background-position-x: 666px;

    &--phone,
    &--email {
      margin-right: 111px;
    }

    &--info {
      height: 142px;
      margin-right: 111px;
    }
  }
}
