.order {
  margin-bottom: 55px;
}

.order legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $azure-color-light;
  margin-left: -3px;
  width: 64px;
}

.order__box {
  display: flex;
  flex-direction: column;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid $azure-color-light;
  padding: 0;
  margin: 0;

  &--types {
    margin-top: 24px;
  }

  &--colors {
    margin-top: 18px;
  }

  &--phone {
    padding-top: 32px;
  }

  &--email {
    padding-top: 32px;

    legend {
      width: 84px;
    }
  }

  &--info {
    padding-top: 32px;
  }
}

.order__contacts-input--info {
  display: block;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.7);
  width: 100%;
  margin-top: 25px;
  padding-left: 15px;
  padding-top: 14px;
  padding-right: 75px;
  padding-bottom: 16px;
  border: 2px solid rgba(68, 68, 68, 0.7);
}


.order__box label {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.order__contacts-input {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.7);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
}

.order__contacts-input--phone {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 25px;
    height: 24px;
    background-image: url("../../img/icon-phone.svg");
    /* псевдоэлемент не работает на 05.01 01:21*/
  }
}

.order__note {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__box__sent-btn {
  width: 259px;
}

@media (min-width: $tablet-width) {
  .order {
    margin-bottom: 0;
  }

  .order__box {
    border: none;

    label {
      font-size: 19px;
      line-height: 18px;
    }

    &--types {
      margin-top: 75px;
    }

    &--colors {
      margin-top: 11px;
      padding-top: 66px;
      padding-bottom: 15px;
      background-color: #f1f1f1;
    }

    &--name {
      position: relative;
      padding-bottom: 221px;
      margin-top: 68px;
    }

    &--phone {
      position: relative;
      background-color: #f1f1f1;
      padding-top: 68px;
      padding-bottom: 28px;
    }

    &--email {
      position: relative;
      padding-top: 32px;
      padding-bottom: 68px;
      background-color: #f1f1f1;
    }

    &--info {
      position: relative;
      padding-top: 68px;
      padding-bottom: 162px;
    }
  }

  .order__contacts-input {
    font-size: 19px;
    background-color: #f1f1f1;
    position: absolute;
    width: 501px;
    padding-bottom: 13px;
    padding-left: 16px;
    left: 28.5%; /*в %% чтобы абсолютный элемент ничего не перекрывал в промежуточных точках*/

    &--phone {
      top: 42px;
    }

    &--email {
      top: 6px;
    }

    &--info {
      top: 50px;
      margin-top: 0;
      padding-top: 13px;
      padding-bottom: 17px;
      border: 2px solid #000000;
      background-color: #ffffff;
    }
  }

  .order__note-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
  }

  .order__note {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    order: 1;
  }

  .order__box__sent-btn {
    width: 231px;
  }
}
