.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  align-items: center;
}

.footer__logo-link {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 143px;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }

  .footer__logo-link {
    display: block;
  }
}
