.page-main {
  width: $mobile-width-only;
}

.page-main__title {
  margin: 0;
  padding-top: 75px;
  padding-bottom: 80px;
  padding-left: 38px;
  padding-right: 30px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ececec;
  background-color: #f1f1f1;
}

.page-main__slogan {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 30px;
}

.page-main iframe {
  width: $mobile-width-only;
  height: 457px;
  border: none;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;

    iframe {
      width: $tablet-width;
    }
  }

  .page-main__title {
    border: none;
    background-color: #f1f1f1;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }
}
