.page-main {
  margin-left: auto;
  margin-right: auto;
}

.page-main__title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 76px;
  padding-left: 27px;
  padding-right: 30px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ececec;
  background-color: #f1f1f1;
}

.page-main__slogan {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin-top: 22px;
}


@media (min-width: $tablet-width) {
  .page-main__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    padding-top: 96px;
    padding-left: 29px;

    &::after {
      position: absolute;
      content: "";
      width: 770px;
      height: 24px;
      left: 0;
      bottom: -15px;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-size: contain;
    }
  }

  .page-main__slogan {
    font-size: 17px;
    line-height: 30px;
    margin-top: 76px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__slogan {
    width: 700px;
    padding-top: 119px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 93px;
    padding-left: 33px;
    padding-bottom: 105px;

    &::after {
      width: 100%;
      height: 34px;
      bottom: -15px;
    }
  }
}
