.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  margin: 20px auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    margin-bottom: -67px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-header__logo {
    order: 1;
    margin: 0;
    text-align: left;
    width: 370px;
    padding-left: 50px;
    padding-top: 24px;
    padding-bottom: 8px;
  }

  .page-header__img {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
    margin-bottom: -73px;
  }

  .page-header__logo {
    order: 2;
    padding-right: 0;
    padding-left: 38px;
    padding-top: 8px;
    padding-bottom: 0;
    width: 290px;
  }

  .page-header__img {
    width: 149px;
    height: 72px;
  }
}
