.production-process {
  margin-bottom: 53px;
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 90px;
  border: 1px solid #ededed;
}

.production-process__text {
  padding-top: 34px;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  border: 1px solid #ededed;
}

.production-process__order-btn {
  width: 188px;
}

@media (min-width: $tablet-width) {
  .production-process {
    margin-bottom: 62px;
  }

  .production-process__order-btn {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    margin-bottom: 105px;
  }
}
