.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 30px;
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.social-list__link {
  margin-left: 17px;
  margin-right: 23px;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__icon-insta:hover,
.social-list__icon-fb:hover,
.social-list__icon-twitter:hover {
  fill: #46c1ae;
}

.social-list__icon-insta:active,
.social-list__icon-fb:active,
.social-list__icon-twitter:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .social-list {
    margin-left: 83px;
    margin-right: 0;
    padding-top: 34px;
  }
}
