.week-special {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    bottom: -41px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-size: cover;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
}

.week-special__titles-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.week-special__good-name {
  order: -1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
}

.week-special__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $azure-color-light;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 8px;
}

.week-special__good-description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-special__features {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-collapse: collapse;
}

.week-special__features td {
  border-bottom: 1px solid #ececec;
}

.week-special__feature-name {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 96px;
}

.week-special__feature-value {
  padding-top: 10px;
  padding-bottom: 10px;
}

.week-special__image {
  padding-top: 30px;
}

.week-special__price {
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  margin-top: 15px;
  margin-bottom: 26px;
}

.week-special__btn {
  width: 259px;
}

@media (min-width: $tablet-width) {
  .week-special {
    flex-direction: column;
    padding-top: 35px;
    margin-bottom: 119px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      background-image: url("../../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: -68px;
      left: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .week-special__titles-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 49px;
  }

  .week-special__good-name {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .week-special__title {
    width: 100px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-right: 26px;
  }

  .week-special__good-description {
    margin: 0 0 34px 0;
    width: 292px;
    font-size: 17px;
    line-height: 30px;
    color: #464646;
    z-index: 2;
  }

  .week-special__image {
    position: absolute;
    right: 50px;
    top: 112px;
    margin: 0;
    width: 333px;
    height: 433px;
  }

  .week-special__features {
    margin: 0;
    width: 292px;
    color: #464646;
  }

  .week-special__order-wrapper {
    width: 292px;
    margin-top: 40px;
  }

  .week-special__price {
    font-size: 20px;
    margin-bottom: 34px;
  }

  .week-special__btn {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .week-special {
    padding-top: 113px;
    margin-bottom: 157px;

    &::after {
      height: 23px;
      bottom: -94px;
    }
  }

  .week-special__titles-wrapper {
    justify-content: flex-start;
  }

  .week-special__title {
    padding-left: 18px;
    width: 172px;
  }

  .week-special__good-name {
    order: 2;
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .week-special__good-description {
    margin-left: 175px;
    margin-bottom: 45px;
    color: #444444;
  }

  .week-special__features {
    margin-left: 175px;
    color: #444444;
  }

  .week-special__feature-name {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .week-special__image {
    width: 525px;
    height: 666px;
    top: 31px;
    right: 50px;
    z-index: -1;
  }

  .week-special__order-wrapper {
    margin-left: 175px;
    margin-top: 96px;
  }

  .week-special__price {
    margin-bottom: 35px;
  }
}
