.week-special {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.week-special__titles-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.week-special__good-name {
  order: -1;
  margin-top: 0;
  margin-bottom: 0;
}

.week-special__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $azure-color-light;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.week-special__good-description {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.week-special__features {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-collapse: collapse;
}

.week-special__features td {
  border-bottom: 1px solid #ececec;
}

.week-special__feature-name {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 88px;
}

.week-special__feature-value {
  padding-top: 10px;
  padding-bottom: 10px;
}

.week-special__image {
  padding-top: 30px;
}

.week-special__price {
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #444444;
}

.week-special__btn {
  width: 259px;
}

@media (min-width: $tablet-width) {
  .week-special__titles-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 60px;
  }

  .week-special {
    flex-direction: column;
  }

  .week-special__good-name {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .week-special__title {
    width: 100px;
    line-height: 17px;
    text-align: center;
    margin: 0;
  }

  .week-special__good-description {
    margin: 0 0 50px 0;
    width: 292px;
    font-size: 17px;
    color: #464646;
    z-index: 2;
  }

  .week-special__image {
    position: absolute;
    right: 50px;
    top: 140px;
    margin: 0;
  }

  .week-special__features {
    margin: 0;
    width: 292px;
    color: #464646;
  }

  .week-special__order-wrapper {
    width: 292px;
    margin: 60px 0 55px;
  }

  .week-special__price {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .week-special__titles-wrapper {
    margin-top: 135px;
    justify-content: flex-start;
  }

  .week-special__good-name {
    order: 2;
    margin-left: 70px;
  }

  .week-special__good-description {
    margin-left: 175px;
    color: #444444;
  }

  .week-special__features {
    margin-left: 175px;
    color: #444444;
  }

  .week-special__image {
    right: 50px;
  }

  .week-special__order-wrapper {
    margin-left: 175px;
    margin-top: 110px;
  }

  .week-special__price {
    margin-bottom: 55px;
  }
}
